.container {
    height: 1000px;
    background: linear-gradient(135deg, #e3dbf6, #a99bf9);
    padding: 10px;
}

.card{
    width: 350px;
    height: 515px;
    margin: 100px auto 0;
    transition: transform 1s;
    transform-style: preserve-3d;
 
    
}

.card-inner{
    width: 100%;
    height: 100%;
    position: relative;
}
.front,.back{
    width: 100%;
    height:100vh ;
    border-radius: 15px;
    background-image: url('https://github.com/Owurakz/Bootstrap-practice/blob/main/user.png?raw=true');
    background-size: cover;
    background-position: center;
    padding: 35px 40px ;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    position: absolute;
}

.back{
    width: 30.5vw;
    height: 107.5vh;
    border-radius: 15px;
    position: absolute;
    background: white;
    color: #333;
    padding: 10px 20px;
    /* transform: rotateY(180deg); */
}

.front h2{
    font-weight: 500
}

.front p{
    color: #ccc;
    font-size: 13px;
}

.front button{
    width: 120px;
    border: 1px solid white;
    background: transparent;
    border-radius: 50px;
    padding: 8px 20px;
    cursor:pointer;
    color: white;
}

.back h1{
    font-size: 50px;
    line-height: 55px;
    margin-bottom: 10px;
}

.back h1 span {
    font-weight: 400;
}

.back p{
   font-size: 14px;
}

.row{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.col{
    flex: 1;
    text-align: center;
    color: #555;
    font-size: 12px;
    position: relative;
}

.col h2{
    font-size: 20px;
}

.col::after {
    content: '';
    width: 1.5px;
    height: 40px;
    background: #7800ad;
    position: absolute;
    top: 5px;
    right: 0;
}

.col:last-child::after{ 
    display: none;
}

.back button {
    background: #7800ad;
    color: white;
    border: 0;
    outline: 0;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 14px;
    margin-right: 15px; 
    box-shadow: 0 4px 5px rgba(120, 0, 173, 0.3);
}

.back a{
   width: 20px;
   height: 20px; 
   border-radius: 50%;
   box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 15px;
}

.card:hover .card-inner{
    transform: rotateY(180deg);

}